<div class="classReview">
    <h1 class="name">{{this.name}}</h1>
    Department: {{this.department}} <br>
    Teachers:
    <div class="internal-review">
        {{#each this.teachers}}
            {{> teacherReview this}}
        {{/each}}
    </div>
</div>
