    <h1>About</h1>
    <hr>
    <article>
        <h1>Creator: Oscar Bautista</h1>
        <p>This application is meant to collect reviews of professors and allows you to find reviews for specific professors and compare reviews between professors for a class.</p>
    </article>