<h1>Create New Review</h1>
<article>
    <form id="reviewForm" method="POST" action="/addReview">
        <div class="input-field">
            <label>Professor Name:</label>
            {{#if name}}
                <input type="text" name="name" size="50" value="{{name}}">
            {{else}}
                <input type="text" name="name" size="50" placeholder="John Smith">
            {{/if}}

        </div>
        <div class="input-field">
            <label>Department:</label>
            {{#if department}}
                <input type="text" name="department" size="50" value="{{department}}">
            {{else}}
                <input type="text" name="department" size="50" placeholder="Computer Science">
            {{/if}}
        </div>
        <div class="input-field">
            <label>Rating:</label>
            <input type="number" name="rating" min="1" max="10" placeholder="1-10">
        </div>
        <div class="input-field">
            <label>Review:</label>
            <input type="text" name="review" size="50" placeholder="Amazing teacher, great teaching style!">
        </div>
        <div class="input-field">
            <label>Class:</label>
            <input type="text" name="classes" size="10" placeholder="ABCD123">
        </div>
        <button type="submit" id="submit" disabled="disabled" value="submit">Create New Review</button>
    </form>
</article>

<script src="/public/js/addReview.js"></script>