<div class="center-block">
    <a href="/review/add" class="btn btn-info center-block" role="button">Add New Review</a>
    <a href="/teacher/add" class="btn btn-info center-block" role="button">Add New Teacher</a>
</div>